.home-cards{
    display:flex;
    flex-direction: row;
}

.seeAllButton{
    position:absolute;
    border: none;
	outline: none;    
	width: 100px;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
    right: 15px;
    background-color:#881c1c;
    padding:7px;
    width: 110px;
    border-radius: 0.5rem;
    margin-top: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 768px) {
    .home-cards{
        flex-direction: column;
    }
}